/* RESET GLOBAL PARA TELA CHEIA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100vw;
    min-height: 100vh;
    background-color: #0d0d0d;
    overflow-x: hidden;
}